body {
  font-family: "Press Start 2P", cursive; /* ピクセル風フォント */
  background-color: #000; /* 暗い背景色 */
  color: #fff; /* 明るい文字色 */
}

#game-container {
  position: relative;
  width: 600px;
  margin: 20px auto;
  background-color: #000; /* 暗い背景 */
  padding: 20px;
  border: 3px solid #fff; /* 白い境界線 */
}

#score-board,
#next-fruit {
  font-size: 16px; /* 大きめのフォントサイズ */
  text-align: center;
  margin-bottom: 20px;
}

#game-canvas {
  border: 3px solid #fff; /* 白い境界線 */
  background-color: #444; /* 暗めのグレー */
  cursor: pointer;
}

#game-over {
  display: none;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}
